<div id="page-top" class="pageone col-xs-12">
  <div class="blockone" data0="opacity:1" data-300="opacity:0.3">
    <h1>Ken Ho</h1>
    <h2>Typical Asian</h2>
    <br />
    <div>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View Portfolio
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="https://github.com/KenedLdn">GitHub</a>
          <a class="dropdown-item" href="http://codepen.io/KenedLdn/">CodePen</a>
          <a class="dropdown-item" href="http://www.codewars.com/users/KenedLdn">CodeWars</a>
        </div>
      </div>
    </div>
  </div>
  <div class="pageone-btn col-xs-12" data0="opacity:1" data-300="opacity:0.1">
    <a href="#about" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down"></i></a>
  </div>
</div>

<div id="about" class="pagetwo col-xs-12">
  <div class="blocktwo" data250="opacity:0.2" data-700="opacity:1">
    <h1>About this Typical Asian</h1>
    <div id="bio" class="col-xs-6 col-xs-offset-1">
      <br />
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;A self-motivated Londoner with entrepreneurial spirit, <span class="text-highlight">Ken</span> has a keen interest in technology and big data.
        He spent two and a half years in a fast-paced financial start-up environment and is currently studying full-time on full-stack web development.
        Beyond that, he looks to first dive back into the start-up space with new technical skills and to eventually start his own digital business.
        Meanwhile, he is open to opportunities to work on financial modelling as well as junior web development projects.
      </p>
      <br />
      <u>Competences</u>
      <p>
        <div id="languages" class="col-xs-6">
            Languages and Frameworks:
          <ul>
            <li>Ruby on Rails</li>
            <li>Javascript</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>jQuery</li>
            <li>Bootstrap3</li>
          </ul>
        </div>
        <div id="tools" class="col-xs-6">
            Tools & expertise:
          <ul>
            <li>Git</li>
            <li>Responsive Web Design</li>
            <li>Agile Methodologies</li>
          </ul>
        </div>
      </p>
    </div>
    <div class="picme col-xs-3">
      <img src="/assets/me1.png" class="img img-responsive pattern-tile" />
    </div>
  </div>
</div>

<div id="projects" class="pagethree col-xs-12">
  <div class="blockthree col-xs-12">
    <br />
    <div class="col-md-12 col-lg-4 col-lg-offset-2">
      <iframe src="http://codepen.io/KenedLdn/full/adKMpO/" width = "350px" height = "350px"></iframe>
    </div>
    <div class="col-md-12 col-lg-4">
      <iframe src="http://codepen.io/KenedLdn/full/adKMpO/" width = "350px" height = "350px"></iframe>
    </div>
    <div class="col-md-12 col-lg-4 col-lg-offset-2">
      <iframe src="http://codepen.io/KenedLdn/full/adKMpO/" width = "350px" height = "350px"></iframe>
    </div>
    <br />
  </div>
</div>

<div id="contact" class="pagefour col-xs-12">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="blockfour">
      <h1>Contact</h1>
      <div class="btn-group-vertical center-block">
        <a class="btn btn-info btn-lg" href="https://www.linkedin.com/in/ken-ho-97660857" role="button">LinkedIn</a>
        <a class="btn btn-info btn-lg" href="https://github.com/KenedLdn" role="button">GitHub</a>
        <a class="btn btn-info btn-lg" href="http://www.freecodecamp.com/kenedldn" role="button">FreeCodeCamp</a>
        <button type="button" class="btn btn-info btn-lg">Email</button>
      </div>
    </div>
  </div>
</div>
